

  .containerbook {
    margin-bottom: 15px;
  }
  
  .bookinfo {
    margin-top: 10px;
  }
  
  .bookinfo p {
    height: auto;
    line-height: 15px;
    position: relative;
    top: 10px;
    margin-bottom: 15px;
  
  }
  
  .buttons button {
    float: right;
    position: relative;
    top: 10px;
    left: 20px;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .bookimg {
    float: left;
    margin-right: 15px;
  }
  